@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g4hfa7');
  src:  url('../fonts/icomoon.eot?g4hfa7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g4hfa7') format('truetype'),
    url('../fonts/icomoon.woff?g4hfa7') format('woff'),
    url('../fonts/icomoon.svg?g4hfa7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
 clear: both;
}
.clearfix {
 *zoom: 1;
 }
.w {
    width: 1200px;
    margin:0 auto;
}
body {
    height: 5000px;
}
.shortcut {
    height: 30px;
    background-color: #f1f1f1;
}
.shortcut  .fl ul li {
    float: left;
    font-size: 12px;
    line-height: 30px;
    margin-right: 14px;
}
.shortcut  .fl ul li:last-of-type a {
    color: #c81623;
}
.fr {
    float: right;
}
.fr ul li {
    float: left;
    line-height: 30px;
}
.fr ul li:nth-of-type(2n) {
    width: 1px;
    height: 14px;
    background-color: #666;
    margin: 7px  17px 0 17px;
}
.fr .fr1::after {
    content: '\e906';
    font-family: 'icomoon';
    margin-left: 8px;
}
.header {
    position: relative;
    height: 105px;
    /* background-color: pink; */
}
.header .logo {
    float: left;
}
.header img {
    margin: 28px 0 0 7px;
}
.search {
    float: left;
    margin-top: 25px;
}
.search input {
    float: left; 
    width: 455px;
    height: 36px;
    padding-left: 5px;
    border: 2px solid #b1191a;
    margin-left: 170px;
}
.search button {
    float: left;
    width: 72px;
    height: 36px;
    border: 2px solid #b1191a;
    border-left: 0;
    background-color: #b1191a;
    color: #fff;
}
.header .cd  {
    position: absolute;
}
.header .cd ul {
    margin-left: 360px;
    margin-top: 68px;
}
.header .cd ul li {
    float: left;
    margin-right: 30px;
}
.header .cd ul li:first-of-type a {
    color: #c81623;
}
.shop {
    position: relative;
    float: right; 
    width: 140px;
    height: 36px;
    margin: 25px 28px 0 0; 
    text-align: center;
    line-height: 36px;
    background-color: #f7f7f7;
}
.shop::before {
    content: '';
    font-family: 'icomoon';
    color: #b1191a;
    margin-right: 3px;
}
.shop::after {
    content: '\e906';
    font-family: 'icomoon';
    margin-left: 5px; 
}
.shop .shu {
    position: absolute;
    top: -5px;
    right: 12px;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    background-color: #e60012;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}
.nav {
    height: 46px;
    text-align: center;
    line-height: 46px;
    border-bottom: 2px solid #b1191a;
}
.navl {
    float: left;
    width: 210px;
    height: 46px;
    background-color: #c81623;
    font-size: 16px;
    /* color: #fff; */
}
.navl ul li a {
    color: #fff;
}
.navr ul {
    float: left;
    margin-left: 25px;
}
.navr ul li {
    float: left;
    padding: 0 25px;
}
.navr ul li a {
    font-size: 16px;
    color: #333;
}
.xq {
    margin-top: 2px;
    height: 640px;
    /* background-color: pink; */
}
.xqhd {
    height: 40px;
    /* background-color: orange; */
}
.xqhd ul li {
    float: left;
    margin-top: 20px;
}
.xqhd ul li:nth-of-type(-n+3)::after {
    content: '\e906';
    font-family: 'icomoon';
    margin: 0 16px;
}
.xql {
    float: left;
    width:400px;
    height: 590px;
    /* background-color: purple; */
}
.xqbdl {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    text-align: center;
    line-height: 400px;
    border: 1px solid #ededed;
}
.mask {
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #FEDE4F;
    opacity: .5;  /* 不透明度 */ 
    border: 1px solid #ccc;
    cursor: move;
}
.big {
    display: none;
    position: absolute;
    top: 0;
    left: 410px;
    width: 500px;
    height: 500px;
    background-color: pink;
    border: 1px solid #ccc;
    overflow: hidden;
}
.big1 {
    position: absolute;
    top: 0;
    left: 0;
}
.xqbdl2 {
    width: 100%;
    height: 190px;
    /* background-color: orange; */
}
.xqbdl2 ul {
    float: left;
}
.xqbdl2 .xqbdl3 {
 margin: 65px 0 0 50px;
 }
.xqbdl2  ul li {
    float: left;
    width: 58px;
    height: 58px;
    /* background-color: pink; */
    /* border: 1px solid #c81623; */
}
.xqbdl2  ul li:hover {
    border: 1px solid #c81623;
}
.xqbdl2  ul .one  {
    background: url(../upload/xq-pic1.png) no-repeat center center;
}
.xqbdl2  ul .two {
    background: url(../upload/xq-pic3.png) no-repeat center center;
}
.xqbdl2  ul .three {
    background: url(../upload/xq-pic4.png) no-repeat center center;
}
.xqbdl2  ul .four {
    background: url(../upload/xq-pic2.png) no-repeat center center;
}
.xqbdl2  ul .five {
    background: url(../upload/xq-pic5.png) no-repeat center center;
}
.xqbdl2  ul .one::before {
    content: '\e905';
    font-family: 'icomoon';
    font-size: 40px;
    margin-left: -60px;
}
.xqbdl2  .xqbdl3::after {
    content: '\e906';
    font-family: 'icomoon';
    font-size: 40px;
    margin-left: 20px;
}
.xqbdl2 ol li {
    float: left;
    margin-top: 25px;
    margin-right: 35px;
}
.xqbdl2 ol li:last-of-type {
    margin-right: 0;
}
.xqbdl2 ol li img {
    margin: 0 3px 2px 0;
}
.dz {
    float: right;
    width: 720px;
    height: 600px;
    /* background-color: pink; */
}
.dz1 {
    width: 100%;
    height: 110px;
    background-color: #fee9eb;
}
.dz h4 {
    margin-bottom: 18px;
    font-size: 16px;
    color: #333;
}
.dz1 h5 {
    float: left;
    font-size: 24px;
    color: #e12228;
}
.dz1 h5::before {
    content: '价 格';
    margin-left: 5px;
    margin-right: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
}
.dz1 h5::after {
    content: '降价通知';
    margin-left: 6px;
    font-size: 12px;
    font-weight: 400; 
    color: #c81623;
}
.dz1 .nb {
    float: right;
    margin: 12px 9px 0 0;
}
.dz1 .cx {
    float: left;
    line-height: 30px;
}
.dz1 .cx p {
    float: left;
    margin-left: 5px;
}
.dz1 .cx .four {
    display: inline-block;
    margin-left: 15px;
    /* margin-right: 100px; */
    color: #999;
}
.dz1 .cx .four em {
    background-color: #c81623;
    color: #fff;
    margin-right: 7px;
}
 .nb span {
    color: #1474af; 
}
.line {
    height: 100px;
    width: 545px;
    border-bottom: 1px solid #ededed;
}
.dz .one {
    margin-bottom: 18px;
    font-size: 12px;
    color: #e12228;
}
.dz .two {
    color: #999;
    line-height: 30px;
}
.dz .two i {
    margin: 0 15px 0 5px;
    font-size: 12px;
    color: #666;
}
.dz .three {
    color: #999;
    line-height: 30px;
}
.dz .three i {
    margin: 0 15px 0 5px;
    font-size: 12px;
    color: #666;
}
.dz .three span {
    margin-left: 63px;
}
.first {
    height: 44px;
    margin-top: 16px;
    padding-left: 5px;
    text-align: center;
    line-height: 44px;
}
.color {
    float: left;
    font-weight: 400;
    margin-right: 16px;
}
.se li {
    float: left;
    width: 82px;
    height: 44px;
    margin-right: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
}
.se li a {
    color: #333;
}
.se li:hover {
    border: 1px solid #c81623;
}
.second {
    height: 34px;
    margin-top: 10px;
    padding-left: 5px;
    text-align: center;
    line-height: 34px;
}
.bb {
    float: left;
    font-weight: 400;
    margin-right: 16px;
}
.bb1 li{
    float: left;
    width: 62px;
    height: 32px;
    margin-right: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
}
.bb1 li:hover {
    border: 1px solid #c81623;
}
.da {
    margin-top: 10px;
    padding-left: 5px;
    text-align: center;
}
 .rl1  li {
    width: 60px;
    height: 34px;
    float: left;
    margin-right: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
}
.san {
    height: 32px;
    line-height: 32px;
}
.rl1 li:hover {
    border: 1px solid #c81623;
}
.si {
    height: 34px;
    line-height: 34px;
}
.fs li {
    float: left;
    width: 74px;
    height: 34px;
    margin-right: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
}
.si li:hover {
    border: 1px solid #c81623;
}
.wu {
    height: 34px;
    line-height: 34px;
}
.tz li {
    float: left;
    width: 74px;
    height: 34px;
    margin-right: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
}
.tz li:hover {
    border: 1px solid #c81623;
}
.liu img {
    width: 50px;
    height: 46px; 
}
.liu {
    height: 46px;
    margin-left: 3px;
    margin-top: 18px;
}
.liu li {
    float: left;
}
.liu li:last-of-type {
    width: 140px;
    height: 46px;
    margin-left: 13px;
    text-align: center;
    line-height: 46px;
    background-color: #c81623;
}
.liu li:last-of-type a {
    font-size: 18px;
    color: #fff;
}
/* 详情页面结束 */
.fenlei {
    float: left;
    width: 210px;
    height: 2380px;
    margin-top: 30px;
    border: 1px solid #ddd;
}
.fenlei .fl1 {
    height: 220px;
    /* background-color: pink; */
    /* border: 1px solid #ddd; */
    border-bottom: 0;
}
.fl1 h4 {
    float: left;
    width: 50%;
    text-align: center;
    line-height: 35px;
    font-weight: 400; 
    background-color: #f1f1f1;
}
.fl1 h4:first-of-type {
    color: #c81623;
    background-color: #ffff;
}
.fl1 h4:last-of-type {
    border-left:1px  solid #ddd;
    border-bottom: 1px solid #ddd;
} 
.fl2 {
    padding: 0 10px;
}
.fl2 ul li {
    float: left;
    width: 92px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.fl2 ul li:nth-of-type(-n+8) {
    border-bottom: 1px dashed #ddd;
}
.fl2 ul li a {
    color: #333;
}
.fl1 h3 {
    float: left;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    padding-left:10px;
    padding-top: 10px;
}
.more {
    width: 190px;
    height: 220px;
    margin: auto;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    /* background-color: pink; */
}
.more img{
    width: 190px;  
    height: 130px;
}
.more p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px 0 8px;
}
.more h3 {
    margin-top: 10px;
    padding-left: 5px;
}
.gcar {
    width: 90px;
    height: 30px; 
    text-align: center;
    line-height: 30px; 
    margin-left: 48px;
    font-size: 14px;
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}
/* 选择模块开始 */
.xz {
    float: right;
    width: 980px;
    height: 300px;
    margin-top: 30px; 
    border: 1px solid #ddd;
    /* background-color: orange; */
}
.xzhd {
    height: 40px;
    background-color: #f1f1f1;
}.xzhd .xzhd1 {
    width: 86px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
    background-color: #c81623;
}
.xzbd {
    width: 980px;
    height: 258px;
    /* background-color: pink; */
}
.xzbdl {
    float: left;
    width: 810px;
    height: 258px;
    /* background-color: pink; */
    border-right: 1px solid #ddd;
}
.xzbd_hd {
    height: 50px;
}
.xzbd_hd ul {
    float: left;
    margin-top: 12px;
}
.xzbd_hd ul li {
    float: left;
}
.xzbd_hd ul li a {
    padding: 0 20px;
}
.xzbd_bd {
    position: relative;
}

.xzbd_bd ul li {
    float: left;
    width: 130px;
    height: 180px;
    margin-right: 30px;
    /* background-color: pink; */
}
.xzbd_bd ul li section {
    width: 130px;
    height: 130px;
    text-align: center;
    border: 1px solid transparent;
}
.xzbd_bd ul li section img {
    margin-top: 5px;
}
.xzbd_bd ul li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}
.xzbd_bd ul li h4 {
    padding-left: 5px;;
    font-size: 14px;
    color: #e12228;
}
.xzbd_bd ul li:hover a section {
    border: 1px solid #c81623;
}
.xzbd_bd ul li:hover a p {
    display: none;
}
.xzbd_bd ul li:hover a h4 {
    text-align: center;
}
.xzbd_bd ul::before {
    content: '\e906';
    font-family: 'icomoon';
    position: absolute;
    top: 75px;
    right: 0;
    width: 20px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    background-color: #ddd;
    text-align: center;
    line-height: 40px;
}
.xzbdr {
    float: left;
}
.xzbdr p {
    margin: 48px 0px 20px 8px; 
}
.xzbdr h5 {
    margin-left:8px; 
    color: #333;
}
.xzbdr h2 {
    margin-left: 6px;
    color: #c81623;
    font-size: 24px;    
}
.xzbdr_foot {
    margin:35px 0 0 13px;
    width: 142px;
    height: 44px;
    background-color: #c81623;
    font-size: 18px;
    text-align: center;
    line-height: 44px;
}
.xzbdr_foot a {
    color: #fff;
}
/* 商品介绍模块开始 */
.js {
    float: right;
    width: 980px;
    height:370px; 
    margin-top: 20px; 
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
}
.js_hd {
    height: 40px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-top: 0;
}
.js_hd ul li {
    float: left;
    text-align: center;
    line-height: 40px;
    /* height: 40px; */
}
.js_hd ul li a {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    color: #474747;
}
.js_hd ul li:first-of-type a {
    background-color: #c81623;
    color: #fff;
}
.js_bd {
    height: 330px;
}
.js_bd ul {
    margin-top: 15px;
}
.js_bd ul li {
    padding-left: 20px;
    color: #666;
    font-size: 12px;
    line-height: 21px;
}
.js_bd ul li:last-of-type a {
    float: right;
    color: #333;
    font-weight: 700;
    /* margin-bottom: -5px; */
}
.js_bd ul li a:last-of-type::after {
    content: '\e906';
    font-family: 'icomoon';
    /* float: right; */
}
.js2 {
    float: right;
    width: 980px;
    height: 775px;
    background-color: #fbfbfb;
    /* text-align: center; */
}
.js3 {
    position: relative;
    float: right;
    width: 980px;
    height: 425px;
    background-color: #f0f0f0;
    text-align: center;
}
.js3 img {
    position: absolute;
    bottom: 0;
    right: 144px;
}
.js4 {
    float: right;
    width: 980px;
    height: 490px; 
    /* background-color: pink; */
}
/* 网页身体结束 */
.like {
    height: 340px;
    margin: 20px 0;
    /* background-color: pink; */
    border: 1px solid #ddd;
}
.like_hd {
    height: 40px;
    background-color: #f1f1f1;
    padding-left: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    line-height: 40px;
}
.like_bd {
    height: 300px;
}
.like_bd ul li {
    float: left;
    width: 170px;
    height: 298px;
    margin-right: 20px;
    /* background-color: pink; */
}
.like_bd ul li:first-of-type {
    margin-left: 40px;
}
.like_bd ul li .kd {
    width: 170px;
    height: 170px;
}
.like_bd ul li .kd img {
    width: 100%;
    margin-top: 30px;
}
.like_bd ul li .xh {
    padding:0 10px;
    line-height: 20px;
}
.like_bd ul li p {
    color: #333;
}
.like_bd ul li h3 {
    margin-top: 5px;
    color: #cc0000;
}
.like_bd ul li span {
    display: inline-block;
    margin-top: 20px;
    margin-left: 14px;
}
.like_bd ul li span i {
    color: #577ec0;
}
/* 底部开始 */
.footer {
    height: 418px;
    background-color:#f5f5f5;
    padding-top: 30px;
   
}
.mod_service {
    height: 110px;
    border-bottom:1px solid #ededed;
}
.mod_service ul {
    margin-left: 35px;
}
.mod_service ul li {
    float: left;
    width: 166px;
    height: 50px;
    margin-right: 60px;
}
.mod_service ul li h5 {
    float: left;
    margin-right: 5px;
    width:50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -252px -3px;
}
.mod_service ul li .two {
    background: url(../images/icons.png) no-repeat -255px -53px;
}
.mod_service ul li .three {
    background: url(../images/icons.png) no-repeat -256px -105px;
}
.mod_service ul li .four {
    background: url(../images/icons.png) no-repeat -257px -156px;
}
.mod_service ul li .five {
    background: url(../images/icons.png) no-repeat -257px -208px;
}
.mod_service ul li div h3 {
    margin-top: 5px;
    font-size: 14px;
    color: #333333;
}
.mod_service ul li div p {
    font-size: 12px;
    color: #666666;
}
.mod_help {
    height: 188px; 
    border-bottom: 1px solid #ededed;
    padding-left: 50px;
}
.mod_help dl {
    float: left;
    width: 200px;
    margin-top: 22px;
    /* margin-left: 52px; */
}
.mod_help dl:last-of-type {
    text-align: center;
    width: 90px;
}
.mod_help dl dt {
    margin-bottom: 14px;
    font-size: 16px;
    color: #333333;
}
.mod_help dl dd {
    
    font-size: 12px;
    color: #333;
}
.mod_help dl dd img {
    width: 90px;
    height: 90px;
}
.mod_copyright {
    text-align: center;
}
.links {
    margin-top: 20px;
    margin-bottom: 15px;
}
.copyright {
    line-height: 20px;
}


